/* helpers */
/* base styles */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-regular/roboto-regular.eot');
  src: url('/fonts/roboto-regular/roboto-regular.eot#iefix') format('embedded-opentype'), url('/fonts/roboto-regular/roboto-regular.woff') format('woff'), url('/fonts/roboto-regular/roboto-regular.ttf') format('truetype'), url('/fonts/roboto-regular/roboto-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-light/roboto-light.eot');
  src: url('/fonts/roboto-light/roboto-light.eot#iefix') format('embedded-opentype'), url('/fonts/roboto-light/roboto-light.woff') format('woff'), url('/fonts/roboto-light/roboto-light.ttf') format('truetype'), url('/fonts/roboto-light/roboto-light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-medium/roboto-medium.eot');
  src: url('/fonts/roboto-medium/roboto-medium.eot#iefix') format('embedded-opentype'), url('/fonts/roboto-medium/roboto-medium.woff') format('woff'), url('/fonts/roboto-medium/roboto-medium.ttf') format('truetype'), url('/fonts/roboto-medium/roboto-medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-bold/roboto-bold.eot');
  src: url('/fonts/roboto-bold/roboto-bold.eot#iefix') format('embedded-opentype'), url('/fonts/roboto-bold/roboto-bold.woff') format('woff'), url('/fonts/roboto-bold/roboto-bold.ttf') format('truetype'), url('/fonts/roboto-bold/roboto-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/pt_sans-regular/pt_sans-regular.eot');
  src: url('/fonts/pt_sans-regular/pt_sans-regular.eot#iefix') format('embedded-opentype'), url('/fonts/pt_sans-regular/pt_sans-regular.woff') format('woff'), url('/fonts/pt_sans-regular/pt_sans-regular.ttf') format('truetype'), url('/fonts/pt_sans-regular/pt_sans-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/pt_sans-bold/pt_sans-bold.eot');
  src: url('/fonts/pt_sans-bold/pt_sans-bold.eot#iefix') format('embedded-opentype'), url('/fonts/pt_sans-bold/pt_sans-bold.woff') format('woff'), url('/fonts/pt_sans-bold/pt_sans-bold.ttf') format('truetype'), url('/fonts/pt_sans-bold/pt_sans-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url('/fonts/icons/icons.eot');
  src: url('/fonts/icons/icons.eot#iefix') format('embedded-opentype'), url('/fonts/icons/icons.woff') format('woff'), url('/fonts/icons/icons.ttf') format('truetype'), url('/fonts/icons/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before {
  content: "\E900";
}
.icon-arrow_circle:before {
  content: "\E901";
}
.icon-arrow-left:before {
  content: "\E902";
}
.icon-arrow-right:before {
  content: "\E903";
}
.icon-arrows-up:before {
  content: "\E904";
}
.icon-check:before {
  content: "\E905";
}
.icon-close:before {
  content: "\E906";
}
.icon-edit:before {
  content: "\E907";
}
.icon-global-list-arrow-down:before {
  content: "\E908";
}
.icon-global-list-arrow-right:before {
  content: "\E909";
}
.icon-list:before {
  content: "\E90A";
}
.icon-minus:before {
  content: "\E90B";
}
.icon-settings:before {
  content: "\E90C";
}
.icon-statistics:before {
  content: "\E90D";
}
.icon-timer:before {
  content: "\E90E";
}
.icon-tomato-error:before {
  content: "\E90F";
}
.icon-tomato-info:before {
  content: "\E910";
}
.icon-tomato-success:before {
  content: "\E911";
}
.icon-tomato-warning:before {
  content: "\E912";
}
.icon-tomato:before {
  content: "\E913";
}
.icon-trash:before {
  content: "\E914";
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/* common styles */
/*----------------------------------
  1. General styles
-----------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: #2a3f50;
}
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s, background-color 0.2s;
}
a:focus {
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
button {
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.bg-wrapper {
  position: relative;
  min-width: 520px;
  min-height: 100vh;
  text-align: center;
  color: #8da5b8;
  background-color: #2a3f50;
  border-bottom: 1px solid transparent;
  overflow: hidden;
}
.bg-wrapper .content-wrapper {
  max-width: 1440px;
  margin: 0 6.6%;
}
@media (min-width: 1624px) {
  .bg-wrapper .content-wrapper {
    margin: 0 auto;
  }
}
@media (max-width: 1280px) {
  .bg-wrapper .content-wrapper {
    margin: 0 3.9%;
  }
}
h1 {
  display: inline-flex;
  align-items: center;
  font: bold 28px/1 "Roboto", sans-serif;
  color: #ffffff;
}
@media (max-width: 1280px) {
  h1 {
    font-size: 32px;
  }
}
h1 button {
  margin-left: 19px;
  font-size: 15px;
}
@media (max-width: 768px) {
  h1 button {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .page__title {
    position: absolute;
    top: 56px;
    left: 3.9%;
  }
}
.subtitle {
  font: normal 17px/1 "Roboto", sans-serif;
}
.btn {
  font: bold 18px/2.38 "PT Sans", sans-serif;
  color: #ffffff;
}
/*----------------------------------
  2. States
-----------------------------------*/
.button {
  color: inherit;
}
.button:hover {
  color: #82c7e0;
}
.button:active {
  color: #82c7e0;
}
.button:focus {
  color: #82c7e0;
}
.button.active {
  color: #ffffff;
}
.link {
  color: inherit;
}
.link:hover {
  color: #82c7e0;
}
.link:active {
  color: #82c7e0;
}
.link:focus {
  color: #82c7e0;
}
.link.active {
  color: #ffffff;
}
.btn-success {
  background-color: #1abc9c;
}
.btn-success:hover {
  background-color: #16a085;
}
.btn-success:active {
  background-color: #0e8c74;
}
.btn-success:focus {
  background-color: #16a085;
}
.btn-info {
  background-color: #59abe3;
}
.btn-info:hover {
  background-color: #368bc5;
}
.btn-info:active {
  background-color: #2380b5;
}
.btn-info:focus {
  background-color: #368bc5;
}
.btn-danger {
  background-color: #f75c4c;
}
.btn-danger:hover {
  background-color: #c94d47;
}
.btn-danger:active {
  background-color: #bc3535;
}
.btn-danger:focus {
  background-color: #c94d47;
}
/*----------------------------------
  4. Circle generation
-----------------------------------*/
.work:before {
  background-color: #ffb200;
}
.education:before {
  background-color: #59abe3;
}
.hobby:before {
  background-color: #b470d0;
}
.sport:before {
  background-color: #e16c65;
}
.other:before {
  background-color: #00d4d9;
}
/*----------------------------------
  5. Tooltips
-----------------------------------*/
.tip {
  position: relative;
}
.tip::before {
  content: attr(data-tip);
  position: absolute;
  bottom: -51px;
  z-index: 2;
  display: none;
  padding: 9px 14px;
  font: bold 12px/1 "Roboto", sans-serif;
  color: #3c5162;
  white-space: nowrap;
  background-color: #dbeaf5;
  border-radius: 2px;
  box-shadow: 0 5px 8.3px 1.7px rgba(21, 43, 59, 0.03);
  opacity: 0.9;
  transition: opacity 0.2s;
}
.tip-right::before {
  right: -5px;
}
.tip-left::before {
  left: 50%;
  transform: translateX(-14px);
}
.tip::after {
  content: '';
  position: absolute;
  bottom: -21px;
  left: 50%;
  z-index: 2;
  display: none;
  width: 0;
  height: 0;
  opacity: 0.9;
  border: 5px solid;
  border-color: transparent transparent #dbeaf5 transparent;
  transition: opacity 0.2s;
  transform: translateX(-50%);
}
.tip:hover::before,
.tip:hover::after {
  display: block;
}
.tip-active:hover::before,
.tip-active:hover::after {
  display: none;
}
/*----------------------------------
  4. Tabs
-----------------------------------*/
.tabs {
  font: normal 1rem/1 "PT Sans", sans-serif;
  text-align: right;
}
@media (max-width: 1280px) {
  .tabs {
    font-size: 1.375rem;
  }
}
@media (max-width: 768px) {
  .tabs {
    font-size: 1.25rem;
  }
}
.tabs li {
  display: inline-block;
}
.tabs li + li::before {
  content: "|";
  margin: 0 10px;
}
@media (max-width: 768px) {
  .tabs li + li::before {
    margin: 0 8px;
  }
}
.tabs a {
  color: #8da5b8;
}
.tabs a:hover {
  color: #82c7e0;
}
.tabs a:active {
  color: #82c7e0;
}
.tabs a:focus {
  color: #82c7e0;
}
.tabs a.active {
  color: #ffffff;
}
.tabs button {
  color: #8da5b8;
}
.tabs button:hover {
  color: #82c7e0;
}
.tabs button:active {
  color: #82c7e0;
}
.tabs button:focus {
  color: #82c7e0;
}
.tabs button.active {
  color: #ffffff;
}
/* pages styles */
.bg-wrapper--timer_active #header,
.bg-wrapper--timer_active .arrow {
  visibility: hidden;
}
.timer {
  color: #ffffff;
}
.timer .timer__desc {
  margin: 28px auto 36px;
}
.timer .timer__estimation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer .timer__pomodoro {
  display: inline-block;
  width: 21px;
  height: 20px;
  margin-right: 9px;
  background: url("/images/svg/empty-tomato.svg") no-repeat;
  background-size: cover;
}
.timer .timer__pomodoro--used {
  background-image: url("/images/svg/fill tomato.svg");
}
.timer .timer__pomodoro--failed {
  background-image: url("/images/svg/tomato-failed.svg");
}
.add-pomodoro {
  display: none;
  margin-left: 4px;
  font-size: 15px;
  color: #8da5b8;
}
.timer__estimation.max-pom .add-pomodoro {
  display: none;
}
.timer--work-time .add-pomodoro {
  display: inline-block;
}
.progress {
  position: relative;
  width: 264px;
  height: 264px;
  margin: 56px auto 69px;
  border: 5px solid #ffa841;
  border-radius: 50%;
  box-shadow: 0 5px 83px 17px rgba(21, 43, 59, 0.25);
}
.progress__stroke {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  stroke-dasharray: 157 628;
}
.progress__stroke circle {
  fill: transparent;
  stroke: #8da5b8;
  stroke-width: 40px;
}
.output {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 150px;
  font: normal 24px/1.5 "Roboto", sans-serif;
  transform: translate(-50%, -50%);
}
.output--work-time,
.output--break {
  font-size: 100px;
}
.output--work-time::after,
.output--break::after {
  content: "min";
  position: absolute;
  bottom: 4px;
  left: 50%;
  font-size: 24px;
  transform: translateX(-50%);
}
.output--break::before {
  content: "Break";
  position: absolute;
  top: 13px;
  left: 50%;
  font-size: 15px;
  text-transform: uppercase;
  transform: translateX(-50%);
}
.timer__buttons-block {
  margin-bottom: 50px;
}
.timer__buttons-block .btn {
  min-width: 123px;
  padding: 0 20px;
}
.timer__buttons-block .btn + .btn {
  margin-left: 16px;
}
.arrow {
  position: absolute;
  top: 50%;
  font-size: 42px;
  color: #8da5b8;
  transform: translateY(-50%);
}
.arrow.icon-arrow-left {
  left: 37px;
}
.arrow.icon-arrow-right {
  right: 37px;
}
.arrow span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*----------------------------------
  Timer Modifiers
-----------------------------------*/
.timer__buttons-block .btn {
  display: none;
}
.timer--start .progress__stroke {
  stroke-dasharray: 0 628;
}
.timer--start .btn-start-task {
  display: inline-block;
}
.timer--work-time .btn-fail-pomod,
.timer--work-time .btn-end-pomod {
  display: inline-block;
}
.timer--break .btn-start-pomod,
.timer--break .btn-end-task {
  display: inline-block;
}
.timer--break-after-fail .btn-start-pomod {
  display: inline-block;
}
.timer--break_over .progress__stroke {
  stroke-dasharray: 628 628;
}
.timer--complete .progress__stroke {
  stroke-dasharray: 628 628;
}

/*----------------------------------
  Header - component
-----------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  display: none;
}
.header .header__logo img {
  width: 242px;
  height: 74px;
}
@media (max-width: 768px) {
  .header .header__logo img {
    width: 160px;
  }
}
.header .header__nav {
  margin: 56px 0 21px auto;
  font-size: 20px;
  color: #8da5b8;
}
@media (max-width: 1280px) {
  .header .header__nav {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .header .header__nav {
    font-size: 28px;
  }
}
.header .header__nav li {
  display: inline-block;
  margin-left: 1.75em;
}
@media (max-width: 768px) {
  .header .header__nav li {
    margin-left: 1em;
  }
}
.header .header__nav .header__plus-icon,
.header .header__nav .header__trash-icon {
  display: none;
}
.bg-wrapper--has-trash .header .header__trash-icon {
  display: inline-block;
}
.header__trash-icon .link {
  position: relative;
}
.header__trash-icon .link::after {
  content: attr(data-trash);
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  width: 22px;
  height: 22px;
  font: bold 14px/22px "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #f75c4c;
  border-radius: 50%;
  transform: translate(50%, 50%);
}
.bg-wrapper--header_sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 6.6%;
  z-index: 5;
  background-color: #2a3f50;
  border-bottom: 1px solid #223849;
  box-shadow: 0 5px 8.3px 1.7px rgba(34, 56, 73, 0.3);
  animation: header-height linear 0.2s;
}
@media (max-width: 1280px) {
  .bg-wrapper--header_sticky .header {
    padding: 0 3.9%;
  }
}
.bg-wrapper--header_sticky .header .header__logo {
  display: block;
}
.bg-wrapper--header_sticky .header .header__nav {
  margin: 56px 0 56px auto;
}
.bg-wrapper--header_sticky.bg-wrapper--has-trash .header__plus-icon {
  display: inline-block;
}
.bg-wrapper--header_sticky main {
  margin-top: 100px;
}
@keyframes header-height {
  from {
    height: 0;
  }
  to {
    height: 136px;
  }
}

/*----------------------------------
  Notifications
-----------------------------------*/
.note {
  position: fixed;
  bottom: 31px;
  right: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 448px;
  height: 50px;
  font: bold 15px/50px "Roboto", sans-serif;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  box-shadow: -15.6px 9px 30.7px 1.3px rgba(0, 0, 0, 0.2);
}
.note .note__icon {
  width: 66px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.2);
}
.note .note__icon::before {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.note .note__message {
  flex: 1;
  padding-left: 13px;
  text-align: left;
}
.note .note__btn {
  margin-right: 16px;
  font-size: 24px;
  transition: color 0.2s;
}
.note .note__btn:hover {
  color: rgba(255, 255, 255, 0.8);
}
/*----------------------------------
  Notifications Modifiers
-----------------------------------*/
.note--success {
  background-color: #1abc9c;
}
.note--success .note__icon::before {
  content: "\E911";
}
.note--info {
  background-color: #529bcd;
}
.note--info .note__icon::before {
  content: "\E910";
}
.note--warning {
  background-color: #df9843;
}
.note--warning .note__icon::before {
  content: "\E912";
}
.note--error {
  background-color: #d8584d;
}
.note--error .note__icon::before {
  content: "\E90F";
}

.categories-list {
  margin: 73px 0 97px;
  font: normal 16px/1 "Roboto", sans-serif;
  text-align: left;
  color: #8da5b8;
}
.categories-list ul {
  max-width: 245px;
  margin: 0 auto;
}
.categories-list li {
  position: relative;
  margin-bottom: 34px;
  line-height: 2;
  border-bottom: 1px solid #425869;
}
.categories-list li::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 50%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transform: translateY(-50%);
}
.categories-list .component__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
  font: bold 18px/1 "PT Sans", sans-serif;
}
.categories-list .component__buttons a {
  width: 135px;
  line-height: 2.35;
  text-align: center;
  color: #ffffff;
}

.section .section__header {
  position: relative;
  height: 22px;
  margin-top: 25px;
  color: #8da5b8;
}
.section .section__title {
  font: 300 22px/1 "Roboto", sans-serif;
}
.section .settings__tabs {
  position: absolute;
  bottom: 0;
  right: 0;
}
/*----------------------------------
  Toggle List
-----------------------------------*/
.toggles-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 750px;
  margin: 76px auto 67px;
  color: #ffffff;
}
/*----------------------------------
  Cycle
-----------------------------------*/
.cycle .cycle__title {
  margin-bottom: 53px;
  font: bold 20px/1 "PT Sans", sans-serif;
}
.cycle__chart {
  width: 100%;
  font-size: 0;
}
.cycle__chart .cycle__item {
  display: inline-block;
  height: 10px;
}
.cycle__chart .cycle__item--work {
  width: calc(100% / 320 * 25);
  background-color: #ffb200;
}
.cycle__chart .cycle__item--break {
  width: calc(100% / 320 * 5);
  background-color: #57a6dc;
}
.cycle__chart .cycle__item--long-break {
  width: calc(100% / 320 * 30);
  background-color: #b470d0;
}
.marked {
  position: relative;
}
.marked::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #00d4d9;
}
.marked::after {
  content: attr(data-time);
  position: absolute;
  font: normal 12px/1 "PT Sans", sans-serif;
  color: #8da5b8;
}
.marked.cycle__item:first-child::before {
  top: -12px;
  left: 0;
}
.marked.cycle__item:first-child::after {
  top: -29px;
  left: 0;
}
.marked.cycle__item:last-child::before {
  top: -12px;
  right: 0;
}
.marked.cycle__item:last-child::after {
  top: -29px;
  right: 0;
}
.marked.cycle__item--long-break::before {
  top: -12px;
  right: 0;
}
.marked.cycle__item--long-break::after {
  top: -31px;
  right: 0;
  font-size: 14px;
  white-space: nowrap;
  transform: translateX(50%);
}
.cycle__ruler {
  width: 100%;
  font-size: 0;
  text-align: left;
}
.cycle__ruler .ruler__item {
  display: inline-block;
  width: calc(100% / 320 * 30);
}
.cycle__ruler .ruler__item::before {
  bottom: -12px;
  right: 0;
}
.cycle__ruler .ruler__item::after {
  bottom: -29px;
  right: 0;
  transform: translateX(50%);
}
/*----------------------------------
  Buttons
-----------------------------------*/
.settings__buttons {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin: 70px auto 75px;
  font: bold 18px/1 "PT Sans", sans-serif;
}
.settings__buttons a,
.settings__buttons button {
  width: 135px;
  line-height: 2.35;
}
.settings__buttons .btn-success {
  margin-left: 16px;
}

.toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
  flex-basis: 300px;
}
.toggle .toggle__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 240px;
}
.toggle .toggle__title {
  font: normal 14px/1 "PT Sans", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.toggle .toggle__title::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 50%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transform: translateY(-50%);
}
.toggle .toggle__control {
  display: flex;
  justify-content: space-between;
  width: 100px;
  font: normal 16px/2 "Roboto", sans-serif;
  color: #8da5b8;
  border-bottom: 1px solid #8da5b8;
}
.toggle .toggle__control .button {
  font-size: 10px;
}
.toggle .toggle__control .button--disabled {
  opacity: 0.7;
  cursor: default;
}
.toggle .toggle__control .button--disabled:hover,
.toggle .toggle__control .button--disabled:focus,
.toggle .toggle__control .button--disabled:active {
  color: inherit;
}
.toggle .toggle__control .toggle__minus {
  padding-right: 10px;
}
.toggle .toggle__control .toggle__plus {
  padding-left: 10px;
}
.toggle .toggle__control .toggle__value {
  background-color: transparent;
  border: none;
  color: inherit;
}
.toggle .toggle__control:hover {
  border-color: #82c7e0;
}
.toggle .toggle__control:hover .toggle__value {
  color: #ffffff;
}
.toggle .toggle__tip {
  font: normal 14px/3 "PT Sans", sans-serif;
  color: #8da5b8;
}
.toggle .toggle__tip span {
  color: #ffffff;
}

/*----------------------------------
   Temp section
-----------------------------------*/
.tasks-list .section__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 35px 0 20px;
  height: 1rem;
}
.tasks-list .tasks-list__trash-tabs {
  display: none;
  text-align: left;
}
.tasks-list .tasks-list__main-tabs {
  margin-left: auto;
}
.daily-tasks {
  margin-bottom: 2.5rem;
}
.daily-tasks .task .icon-arrows-up {
  display: none;
}
.global-tasks {
  margin-bottom: 3.125rem;
}
.global-tasks .global-tasks__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 4.0625rem;
}
.global-tasks .global-tasks__toggle .toggle-btn {
  font: bold 1.25rem/1 "PT Sans", sans-serif;
}
@media (max-width: 1280px) {
  .global-tasks .global-tasks__toggle .toggle-btn {
    font-size: 1.5rem;
  }
}
.global-tasks .global-tasks__toggle .toggle-btn:hover ~ i {
  color: #82c7e0;
}
.global-tasks .global-tasks__toggle i {
  margin-left: 5px;
  font-size: 11px;
}
.global-tasks .global-tasks__tabs,
.global-tasks .global-tasks__list,
.global-tasks .icon-global-list-arrow-down {
  display: none;
}
.global-tasks--open .icon-global-list-arrow-right {
  display: none;
}
.global-tasks--open .global-tasks__tabs,
.global-tasks--open .global-tasks__list {
  display: block;
}
.global-tasks--open .icon-global-list-arrow-down {
  display: inline;
}
/*----------------------------------
   Message Pages Default Rules
-----------------------------------*/
.bg-container {
  margin: 127px auto 80px;
  background-size: cover;
}
.message {
  max-width: 80%;
  margin: 0 auto;
  font: 300 36px/1.28 "Roboto", sans-serif;
  color: #8da5b8;
}
/*----------------------------------
   First Visit Message
-----------------------------------*/
.first-visit .first-visit__bg-container {
  width: 171px;
  height: 160px;
  background: url("/images/svg/tomato_settings.svg") no-repeat;
}
.first-visit .first-visit__buttons {
  margin: 81px auto 74px;
}
.first-visit .first-visit__buttons .btn-info {
  display: inline-block;
  width: 123px;
}
.first-visit .first-visit__buttons .btn-success {
  display: inline-block;
  margin-left: 16px;
  width: 158px;
}
/*----------------------------------
   Add First Task Message
-----------------------------------*/
.add-task__bg-container {
  width: 164px;
  height: 163px;
  background: url("/images/svg/tomato-add.svg") no-repeat;
}
.add-task__message {
  margin-bottom: 74px;
}
/*----------------------------------
   No Task Message
-----------------------------------*/
.no-task .no-task__bg-container {
  width: 161px;
  height: 160px;
  margin-top: 76px;
  background: url("/images/svg/tomato-addv02.svg") no-repeat;
}
/*----------------------------------
   No Daily Task Message
-----------------------------------*/
.no-daily-task__message {
  margin: 39px auto 116px;
}
.no-daily-task_first .no-daily-task_first__message {
  position: relative;
  margin: 39px auto 116px;
}
.no-daily-task_first .no-daily-task_first__message::before {
  position: absolute;
  bottom: -90px;
  left: 50%;
  font-size: 60px;
  transform: translateX(-50%);
}
/*----------------------------------
   trash-icon pressed
-----------------------------------*/
.bg-wrapper--trash_pressed .header .header__trash-icon .link::after {
  display: block;
}
.bg-wrapper--trash_pressed .tasks-list__trash-tabs {
  display: block;
}
.bg-wrapper--trash_pressed .global-tasks .global-tasks__header {
  margin-bottom: 28px;
}
.bg-wrapper--trash_pressed .global-tasks .tasks-list__trash-tabs {
  margin-bottom: 64px;
}
.bg-wrapper--trash_pressed .task__left .task__date {
  display: none;
}
.bg-wrapper--trash_pressed .task__left .icon-trash {
  display: flex;
}
.bg-wrapper--trash_pressed .task__left:hover {
  opacity: 0.9;
}
.bg-wrapper--trash_pressed .task--selected .task__left .icon-trash {
  display: none;
}
.bg-wrapper--trash_pressed .task--selected .task__left .icon-close {
  display: flex;
}
/*----------------------------------
  Tasks
-----------------------------------*/
.task {
  display: flex;
  width: 100%;
  min-height: 87px;
  margin-bottom: 9px;
  background-color: #ffffff;
}
@media (max-width: 1280px) {
  .task {
    min-height: 114px;
  }
}
@media (max-width: 768px) {
  .task {
    min-height: 121px;
  }
}
.task .task__left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  min-height: 87px;
  margin-right: 16px;
}
@media (max-width: 1280px) {
  .task .task__left {
    min-height: 114px;
  }
}
@media (max-width: 768px) {
  .task .task__left {
    min-height: 121px;
  }
}
.task .task__left button {
  display: none;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 100%;
  min-height: 87px;
  font-size: 40px;
  color: #ffffff;
}
@media (max-width: 1280px) {
  .task .task__left button {
    min-height: 114px;
  }
}
@media (max-width: 768px) {
  .task .task__left button {
    min-height: 121px;
  }
}
.task .task__left::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 9px;
}
.task .task__date {
  display: flex;
  flex-direction: column;
  color: #9f9f9f;
}
.task .task__date .task__date-number {
  font: bold 1.6875rem/1 "PTSans", sans-serif;
  margin-bottom: 7px;
}
@media (max-width: 1280px) {
  .task .task__date .task__date-number {
    font-size: 1.8125rem;
  }
}
.task .task__date .task__date-month {
  font: bold 0.6875px/1 "Roboto", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .task .task__date .task__date-month {
    font-size: 0.8125rem;
  }
}
.task .task__center {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}
.task .task__content {
  text-align: left;
}
.task .task__content .task__title {
  margin-bottom: 0.5625rem;
  font: 500 1.1875rem/1 "Roboto", sans-serif;
}
@media (max-width: 1280px) {
  .task .task__content .task__title {
    font-size: 1.375rem;
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  .task .task__content .task__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  .task .task__content .task__title {
    font-size: 1.1875rem;
  }
}
.task .task__content .task__desc {
  font: normal 1rem/1 "Roboto", sans-serif;
  color: #7f7f7f;
}
@media (max-width: 1280px) {
  .task .task__content .task__desc {
    font-size: 1.1875rem;
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  .task .task__content .task__desc {
    font-size: 1.0625rem;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  .task .task__content .task__desc {
    font-size: 0.9375rem;
  }
}
.task .task__panel button {
  position: relative;
  display: block;
  font-size: 1.1875rem;
  color: #c8c8c8;
}
.task .task__panel button:hover {
  color: #8da5b8;
}
.task .task__panel button:active {
  color: #8da5b8;
}
.task .task__panel button:focus {
  color: #82c7e0;
}
.task .task__panel button.active {
  color: #ffffff;
}
@media (max-width: 1280px) {
  .task .task__panel button {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  .task .task__panel button {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  .task .task__panel button {
    font-size: 1.1875rem;
  }
}
.task .task__panel button i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.task .task__panel .icon-arrows-up {
  margin-bottom: 12px;
}
.task .task__right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  margin-left: 30px;
}
.task .task__right .task__timer-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 100%;
  font-size: 40px;
  color: #ffffff;
}
.task .task__right .task__timer-btn::before {
  content: "\E913";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'icons' !important;
  font-size: 3rem;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 1280px) {
  .task .task__right .task__timer-btn::before {
    font-size: 3.75rem;
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  .task .task__right .task__timer-btn::before {
    font-size: 4.1875rem;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  .task .task__right .task__timer-btn::before {
    font-size: 3rem;
  }
}
.task .task__right .task__timer-btn .task__estimation {
  font: bold 24px/48px "PT Sans", sans-serif;
  color: #ffffff;
}
.daily-tasks .task__timer-btn:hover .task__estimation {
  display: none;
}
.daily-tasks .task__timer-btn:hover::before {
  content: "\E90E";
}
/*----------------------------------
  Tasks combining
-----------------------------------*/
.task--first {
  position: relative;
  margin-top: 59px;
}
.task--first::before {
  content: "";
  position: absolute;
  top: -29px;
  left: 2px;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.task--first::after {
  content: attr(data-category);
  position: absolute;
  top: -35px;
  left: 22px;
  font: bold 16px/1 "Roboto", sans-serif;
  text-transform: uppercase;
}
.task--first .task__left::before {
  top: -19px;
}
.task--follow .task__left::before {
  top: -9px;
}
/*----------------------------------
  Task states
-----------------------------------*/
.task--work .task__left::before {
  background-color: #ffb200;
}
.task--work .task__left .icon-trash {
  background-color: #ffb200;
}
.task--work .task__left .icon-close {
  background-color: #dd8f05;
}
.task--work.task--first::before {
  background-color: #ffb200;
  box-shadow: 0 0 0 2px #2a3f50, 0 0 0 6px #ffb200;
}
.task--work.task--first::after {
  color: #ffb200;
}
.bg-wrapper--trash_pressed .task--work.task--selected .task__left::before {
  background-color: #dd8f05;
}
.task--education .task__left::before {
  background-color: #59abe3;
}
.task--education .task__left .icon-trash {
  background-color: #59abe3;
}
.task--education .task__left .icon-close {
  background-color: #368bc5;
}
.task--education.task--first::before {
  background-color: #59abe3;
  box-shadow: 0 0 0 2px #2a3f50, 0 0 0 6px #59abe3;
}
.task--education.task--first::after {
  color: #59abe3;
}
.bg-wrapper--trash_pressed .task--education.task--selected .task__left::before {
  background-color: #368bc5;
}
.task--hobby .task__left::before {
  background-color: #b470d0;
}
.task--hobby .task__left .icon-trash {
  background-color: #b470d0;
}
.task--hobby .task__left .icon-close {
  background-color: #9849b8;
}
.task--hobby.task--first::before {
  background-color: #b470d0;
  box-shadow: 0 0 0 2px #2a3f50, 0 0 0 6px #b470d0;
}
.task--hobby.task--first::after {
  color: #b470d0;
}
.bg-wrapper--trash_pressed .task--hobby.task--selected .task__left::before {
  background-color: #9849b8;
}
.task--sport .task__left::before {
  background-color: #e16c65;
}
.task--sport .task__left .icon-trash {
  background-color: #e16c65;
}
.task--sport .task__left .icon-close {
  background-color: #b74e4b;
}
.task--sport.task--first::before {
  background-color: #e16c65;
  box-shadow: 0 0 0 2px #2a3f50, 0 0 0 6px #e16c65;
}
.task--sport.task--first::after {
  color: #e16c65;
}
.bg-wrapper--trash_pressed .task--sport.task--selected .task__left::before {
  background-color: #b74e4b;
}
.task--other .task__left::before {
  background-color: #00d4d9;
}
.task--other .task__left .icon-trash {
  background-color: #00d4d9;
}
.task--other .task__left .icon-close {
  background-color: #04a5a5;
}
.task--other.task--first::before {
  background-color: #00d4d9;
  box-shadow: 0 0 0 2px #2a3f50, 0 0 0 6px #00d4d9;
}
.task--other.task--first::after {
  color: #00d4d9;
}
.bg-wrapper--trash_pressed .task--other.task--selected .task__left::before {
  background-color: #04a5a5;
}
.task--urgent .task__title {
  color: #f75c4c;
}
.task--urgent .task__right .task__timer-btn {
  background-color: #f75c4c;
}
.task--urgent .task__right .task__timer-btn:hover {
  background-color: #c94d47;
}
.task--urgent.task--done .task__timer-btn:hover {
  background-color: #f75c4c;
}
.task--high .task__title {
  color: #ffa841;
}
.task--high .task__right .task__timer-btn {
  background-color: #ffa841;
}
.task--high .task__right .task__timer-btn:hover {
  background-color: #f08e19;
}
.task--high.task--done .task__timer-btn:hover {
  background-color: #ffa841;
}
.task--middle .task__title {
  color: #fddc43;
}
.task--middle .task__right .task__timer-btn {
  background-color: #fddc43;
}
.task--middle .task__right .task__timer-btn:hover {
  background-color: #e8bd0a;
}
.task--middle.task--done .task__timer-btn:hover {
  background-color: #fddc43;
}
.task--low .task__title {
  color: #1abc9c;
}
.task--low .task__right .task__timer-btn {
  background-color: #1abc9c;
}
.task--low .task__right .task__timer-btn:hover {
  background-color: #16a085;
}
.task--low.task--done .task__timer-btn:hover {
  background-color: #1abc9c;
}
.task--done {
  opacity: 0.8;
}
.task--done .task__title {
  text-decoration: line-through;
}
.task--done .task__panel {
  display: none;
}
.task--done .task__right .task__timer-btn:hover {
  cursor: default;
}
.task--done .task__right .task__timer-btn:hover .task__estimation {
  display: block;
}
.task--done .task__right .task__timer-btn:hover::before {
  content: "\E913";
}
.task--overdue .task__date {
  color: #f75c4c;
}
.task--overdue.task--done .task__date {
  color: #9f9f9f;
}
/*----------------------------------
  Modal states
-----------------------------------*/
.bg-wrapper--modal-task_add,
.bg-wrapper--modal-task_edit,
.bg-wrapper--modal-task_remove {
  position: static;
}
.bg-wrapper--modal-task_add .modal,
.bg-wrapper--modal-task_edit .modal,
.bg-wrapper--modal-task_remove .modal {
  display: block;
}
/*----------------------------------
  Modal
-----------------------------------*/
body.open-modal {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal .form {
  position: absolute;
  top: 0;
  left: 50%;
  width: 500px;
  height: 630px;
  margin: 50px auto;
  text-align: center;
  color: #8da5b8;
  background-color: #2a3f50;
  transform: translateX(-50%);
}
.modal .form__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 4px;
}
.modal .form__nav .icon-close {
  margin-left: auto;
}
.modal .form__nav .icon-check {
  margin-left: 15px;
}
.modal .form__heading {
  margin-bottom: 20px;
}
.modal .form__field {
  margin: 0 42px 33px;
  padding: 0;
  font: normal 16px/1 "Roboto", sans-serif;
  text-align: left;
  color: #8da5b8;
  border: none;
  border-bottom: 1px solid #425869;
}
.modal .form__field .form__title {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.modal .form__field .form__input {
  width: 100%;
  margin: 12px 0 5px;
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
  border: 0;
}
.modal .form__field .form__input::placeholder {
  color: #8da5b8;
}
.modal .form__field .form__input:focus {
  outline: none;
}
.modal .form__radio-list {
  margin: 17px 0 6px;
}
.modal .form__radio-list .form__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.modal .form__radio-list .form__radio:checked + .form__label {
  color: #ffffff;
}
.modal .form__radio-list .form__radio:checked + .form__label::before {
  width: 5px;
  height: 5px;
  margin: 0 13px 0 6px;
  background-color: currentColor;
  box-shadow: 0 0 0 2px #2a3f50, 0 0 0 6px currentColor;
  transform: translateY(-4px);
}
.modal .form__radio-list .form__label {
  margin-right: 8px;
  cursor: pointer;
  transition: color 0.2s;
}
.modal .form__radio-list .form__label::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  width: 17px;
  height: 17px;
  background-color: #8da5b8;
  border-radius: 50%;
  transition: background-color 0.2s;
  transform: translateY(2px);
}
.modal .form__radio-list .form__label:hover,
.modal .form__radio-list .form__label:focus,
.modal .form__radio-list .form__label:active {
  color: #82c7e0;
}
.modal .form__radio-list .form__label:hover::before,
.modal .form__radio-list .form__label:focus::before,
.modal .form__radio-list .form__label:active::before {
  background-color: currentColor;
}
.modal .form__radio-list .form__label--work::before {
  color: #ffb200;
}
.modal .form__radio-list .form__label--education::before {
  color: #59abe3;
}
.modal .form__radio-list .form__label--hobby::before {
  color: #b470d0;
}
.modal .form__radio-list .form__label--sport::before {
  color: #e16c65;
}
.modal .form__radio-list .form__label--other::before {
  color: #00d4d9;
}
.modal .form__radio-list .form__label--urgent::before {
  color: #f75c4c;
}
.modal .form__radio-list .form__label--high::before {
  color: #ffa841;
}
.modal .form__radio-list .form__label--middle::before {
  color: #fddc43;
}
.modal .form__radio-list .form__label--low::before {
  color: #1abc9c;
}
.modal .form__field--estimation .form__radio-list {
  margin: 6px 0 7px;
}
.modal .form__field--estimation .form__label--est::before {
  display: none;
}
.modal .form__field--estimation .form__label--est::after {
  content: "";
  display: inline-block;
  width: 21px;
  height: 20px;
  opacity: 1;
  background: url("/images/svg/fill tomato.svg") no-repeat;
  background-size: cover;
}
.modal .form__field--estimation .form__radio:checked ~ .form__label--est::after {
  background: url("/images/svg/empty-tomato.svg") no-repeat;
}
/*----------------------------------
  Modal - Remove Task
-----------------------------------*/
.form--task_remove .form__message {
  margin: 150px 70px 180px;
  font: 300 36px/1 "Roboto", sans-serif;
}
.form--task_remove .form__button {
  width: 123px;
  font: bold 18px/42px "PT Sans", sans-serif;
  color: #ffffff;
}
.form--task_remove .form__button + .form__button {
  margin-left: 16px;
}

.report .tabs {
  text-align: center;
}
.report__period-tabs {
  margin: 35px auto 125px;
}
.report__category-tabs {
  margin: 80px auto 50px;
}
.report__output {
  width: 700px;
  margin: 0 auto;
  border-collapse: collapse;
}
.report__output tbody tr:nth-child(even) {
  background: #405f77;
}
.report__output th,
.report__output td {
  border: 1px solid #8da5b8;
  width: 16.6666667%;
  text-align: center;
  padding: 5px 10px;
}


/*# sourceMappingURL=styles.css.map*/