* { box-sizing: border-box; }

/*FILTERS*/
.filters__container { display: none; }

.filters-open .filters__container {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding-left: 5%;
  padding-bottom: 30px;
  background: rgb(255, 255, 255);
}

.filter__bar {
  position: relative;
  font: bold 0.8125rem 'Open Sans', sans-serif;
  border-bottom: 1px solid rgb(229, 229, 229);
  cursor: pointer;
}

.filters__bar_output  {
  position: relative;
  display: inline-block;
  height: 21px;
  margin: 17px 5%;
  padding-right: 30px;
  overflow: hidden;
}

.filters__bar_icon {
  position: absolute;
  top: 7px;
  right: 0;
  display: inline-block;
  background: url("../img/ten_w.png")no-repeat 50%;
}

.filters__bar_cancel {
  position: absolute;
  display: none;
  right: 5%;
  top: 22px;
  background: url("../img/ten_w.png")no-repeat 50%;
}

.filters-open .filters__bar_icon { display: none; }

.filters-open .filters__bar_cancel { display: block; }

.filters__item {
  flex: 1 0 50%;
  cursor: pointer;
}

.filters__item_header img,
.filters__item_header span
{ display: none; }

.filters__item_header h3 { font: bold 1.04rem 'Roboto', sans-serif; }

.filters__item ul {
  font: bold 0.875rem 'Open Sans', sans-serif;
  color: rgb(168, 168, 168);
  line-height: 2rem;
  list-style: disc inside;
}

.filters .active { color: rgb(241, 74, 88); }

.filters__item ul li:hover { color: rgb(241, 74, 88); }

.notSelected li:nth-of-type(1) { color: rgb(0, 0, 0); }

.filters + hr { display: none; }

/* CATALOG */
.catalog__items-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
}

.item { margin-bottom: 9%; }

.item:nth-of-type(n + 9) { display: none; }

.item__placeholder {
  margin-top: 1rem;
  font: italic 0.875rem 'Times New Roman', serif;
  color: rgb(117, 117, 117);
}

.item_discount {
  margin-top: 1rem;
  font: normal 0.75rem 'Roboto', sans-serif;
  color: rgb(117, 117, 117);
}

.item_discount .item__price { color: rgb(0, 0, 0); }

.catalog__banner {
  display: block;
  width: 80%;
  margin: 0 auto 15% auto;
  text-align: center;
}

.catalog__banner h3 {
  margin-bottom: 0;
  font: bold 1.125rem 'Open Sans', sans-serif;
  line-height: 1.667;
}

.catalog__banner_sale { color: rgb(241, 74, 88); }

.catalog__banner p {
  margin-top: 10px;
  font: italic 0.875rem 'Times New Roman', serif;
  line-height: 2;
}

.catalog__banner { order: -1; }

.catalog__items-container a:nth-of-type(-n + 2) { order: -2; }

.btn {
  display: block;
  width: 230px;
  margin: 32px auto 100px;
  padding: 17px 60px;
  font: bold 1.125rem "Open Sans", sans-serif;
  border: 1px solid rgb(229, 229, 229);
  text-align: center;
}

.btn:hover {
  color: rgb(241, 74, 88);
  border-color: rgb(241, 74, 88);
}

/* MEDIA */
@media (max-width: 522px) {
  .item { width: 157px; }
}

@media (min-width: 680px) {
  .item { margin-right: 10px; }
}

@media (min-width: 730px) {
  .item { width: 204px; }

  .item:nth-of-type(3) { order: -2; }

  .item:nth-of-type(n + 9) { display: flex; }
}

/*todo*/
@media (min-width: 768px) {
  /* FILTERS */
  .filters__container { width: 100%; }

  .filters__item { flex-basis: 33.33%; }

  /* CATALOG */
  .item { margin-bottom: 11%; }

  .item__placeholder { font-size: 1rem; }

  .item_discount { font-size: 0.875rem; }

  .catalog__banner { margin-bottom: 11%; }

  .catalog__banner h3 {
    margin: 0;
    font-size: 1.25rem;
  }

  .catalog__banner p { font-size: 1rem; }

  .btn {
    width: 260px;
    font-size: 1.25rem;
  }
}

@media (min-width: 904px) {
  .item { width: 240px; }
}

/*todo*/
@media (min-width: 1024px) {
  /* FILTERS */
  .filters__container {
    display: flex;
    width: auto;
  }

  .filters-open .filters__container { position: static; }

  .filters__item {
    position: relative;
    flex-basis: 16.66%;
  }

  .filters__item:hover .filters__item_header {
    border-left: 1px solid rgb(229, 229, 229);

    border-right: 1px solid rgb(229, 229, 229);
  }

  .filter__bar { display: none; }

  .filters__item ul {
    position: absolute;
    z-index: 100;
    display: none;
    width: 100%;
    margin: 0;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(229, 229, 229);
    font-size: 0.75rem;
    color: rgb(0, 0, 0);
    list-style: none;
  }

  .filters__item ul li { overflow: hidden; } /* special for IE */

  .filters__item li { padding-left: 20px; }

  .filters__item:hover ul { display: block; }

  .filters__item ul li:hover { background: rgb(247, 247, 247); }

  .filters .active { color: rgb(0, 0, 0); }

  .filters__item_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 66px;
    padding: 0 20px;
    background: rgb(247, 247, 247);
    border-left: 1px solid rgb(247, 247, 247);
    border-right: 1px solid rgb(247, 247, 247);
  }

  .filters__item_header h3 {
    display: block;
    margin: 0;
    font-size: 0.75rem;
  }

  .filters__item_header img {
    display: block;
    margin-left: auto;
  }

  .filters__item_header span {
    display: block;
    font: bold 1rem 'Open Sans', sans-serif;
    color: rgb(241, 74, 88);
  }

  .notSelected .filters__item_header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
  }

  .notSelected h3 {
    margin-top: -7px;
    font: bold 1rem 'Open Sans', sans-serif;
  }

  .notSelected img { margin-top: -7px; }

  .notSelected span { display: none; }

  .filters + hr { display: block; }

  /* CATALOG */
  .item { margin-bottom: 7%; }

  .catalog__banner { margin-bottom: 6%; }

  .catalog__banner h3 { font-size: 1.5rem; }

  .btn {
    width: 340px;
    margin-bottom: 14%;
    font-size: 1.5rem;
  }
}

@media (min-width: 1128px) {
  .item:nth-of-type(4) { order: -2; }
}
