body.gallery-open { overflow: hidden; }

.gallery-open header,
.gallery-open .btn-up { display: none; }

.gallery-open .popup { display: flex; }

header .wrap {
  position: relative;
  /*color: black;*/
}

main.layout-center {
  display: flex;
  padding-top: 1em;
}

.header-wrap {
  padding: 1em;
  background-color: #f7f7f7;
  border-top: 1px solid rgb(237, 237, 237);
  border-bottom: 1px solid rgb(237, 237, 237);
  text-align: center;
}

.main-content {
  flex: 1;
  margin-bottom: 2em;
  line-height: 1.5;
}

.main-content a:hover { color: #54ad37; }

.custom-list-style li {
  padding-left: 2em;
  background: url('../img/favicon/favicon-32x32.png') no-repeat 0 50%;
  background-size: 1em;
}

.major-img {
  width: 100%;
  margin-bottom: 1.5em;
}

.rubric {
  margin-bottom: 2em;
  line-height: 1.5;
}

.rubric img { transition: box-shadow 0.2s; }

.rubric__item { text-align: center; }

.rubric__title {
  margin-bottom: 1em;
  font: bold 1em Arial,sans-serif;
  text-transform: uppercase;
  color: #7d0126;
  border-bottom: 1px solid #596c73;
}

.service-item { margin-bottom: 3em; }

.service-item h2 { margin-bottom: 0.5em; }

.service-item img {
  width: 100%;
  margin-bottom: 2em;
  transition: box-shadow 0.2s;
}

.service-item:hover { color: #54ad37; }

.rubric img:hover,
.service-item:hover img,
.gallery img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -1em;
}

.gallery img {
  width: 250px;
  height: 250px;
  margin: 0 1em 1em 0;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.btn-default { margin: 2em auto 3em; }

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  z-index: 200;
  background-color: white;
  font-size: 2rem;
}

.popup__content {
  max-width: 100%;
  max-height: 100%;
}

.popup__close-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 300;
  font-weight: bold;
  color: red;
  transition: opacity 0.2s;
}

.popup__close-btn:hover { opacity: 0.5; }

.prev,
.next {
  position: absolute;
  top: 50%;
  z-index: 300;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1em;
  color: black;
  transform: translateY(-50%);
}

.prev { left: 0; }

.next { right: 0; }

.next::before,
.prev::before { margin: 0; }

.prev:hover,
.next:hover { color: #54ad37; }

@keyframes animatezoom {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.animate { animation: animatezoom 0.6s; }

/*-------------------------------------------
  Media
-------------------------------------------*/
@media (min-width: 768px) {
  .slow-underscore::before { border-color: #54ad37; }

  .prev,
  .next { padding: 0.5em; }
}

@media (min-width: 1024px) {
  aside {
    width: 300px;
    margin-left: 3em;
  }
}