/* SLIDER */
.prev,
.next {display: none;}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

.slider__item {
  display: none;
  text-align: center;
  overflow: hidden;
}

.slider__item img { height: 474px; }

.slider__container + hr { margin-top: -4px; }

.slider__pager { height: 55px; }

.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  background-color: rgb(217, 217, 217);
  border-radius: 50%;
}

.dot:nth-of-type(n+2) { margin-left: 23px; }

.active, .dot:hover { background-color: #f14a58; }

/* BANNER */
.banner-start {
  display: flex;
  justify-content: center;
}

.banner-start h3 { font: bold 1.375rem 'Open Sans', sans-serif; }

.banner__item-red {
  position: relative;
  font-size: 0;
}

.banner__item-red h3 {
  position: absolute;
  top: 4%;
  right: 14%;
  color: rgb(0, 0, 0);
}

.banner__item-red img { height: 240px; }

.banner__item-tablet,
.banner__item--desktop {
  display: none;
}

/* ARRIVALS */
.arrivals__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px 0 41px 0;
}

.arrivals h2 {
  font: bold 1.625rem 'Open Sans', sans-serif;
  text-align: center;
}

.arrivals__items-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.arrivals__items-container {
  height: 306px;
  overflow: hidden;
  flex-wrap: wrap;
}

.item { margin-bottom: 10px; }

.arrivals_btn {
  margin: 65px auto;
  padding: 17px 60px;
  font: bold 1.125rem "Open Sans", sans-serif;
  border: 1px solid rgb(229, 229, 229);
}

.arrivals_btn:hover {
  color: rgb(241, 74, 88);
  border-color: rgb(241, 74, 88);
}

/* MEDIA */
@media (max-width: 400px) {
  .banner__item-red img {
    width: 100%;
    height: auto;
  }
}
.banner__item-red img

@media (min-width: 522px) {
  /* ARRIVALS */
  .arrivals__container .arrivals__items-container { height: 372px; }

  .item img { height: 289px }
}

@media (min-width: 678px) {
  /* ARRIVALS */
  .item:nth-of-type(-n + 2) { margin-right: 10px; }
}

/*todo*/
@media (min-width: 768px) {
  /* SLIDER */
  .slider__item img { height: 769px; }

  .slider__pager { height: 65px; }

  /* BANNER */
  .banner-start img { height: 253px; }

  .banner__item-red {
    flex: 1;
    text-align: center;
  }

  .banner__item-tablet {
    position: relative;
    display: block;
    width: 33.33%;
    border-left: 1px solid rgb(229, 229, 229);
    font-size: 0;
    text-align: center;
  }

  .banner__item-tablet img { width: auto; }

  .banner__item-tablet div {
    position: absolute;
    top: 147px;
    left: 0;
    right: 0;
  }

  .caps__text-tablet {
    font: italic 1rem 'Times New Roman', serif;
    color: rgb(117, 117, 117);
  }

  .caps__header-tablet {
    margin-bottom: 5px;
    color: rgb(241, 74, 88);
  }

  /* ARRIVALS */
  .arrivals h2 {
    margin: 12% 0 10.5%;
    font-size: 2.5rem;
  }

  .arrivals__container  .arrivals__items-container { height: 374px; }

  .arrivals_btn { font-size: 1.25rem; }

  .links h3 { font-size: 1rem; }
}

@media (min-width: 904px) {
  .arrivals__container  .arrivals__items-container { height: 430px; }

  .item img { height: 340px }
}

/*todo*/
@media (min-width: 1024px) {
   /* SLIDER */
  .slider__container { position: relative; }

  .slider__pager { height: 80px; }

  .prev,
  .next {
    position: absolute;
    top: 329px;
    display: inline-block;
    background-color: rgb(241, 74, 88);
    padding: 43px 12px;
    cursor: pointer;
  }

  .prev { left: 0; }

  .next { right: 0; }

  .prev:hover,
  .next:hover { opacity: 0.5; }

  .slider__pager { background-color: rgb(247, 247, 247); }

  /* BANNER */
  .banner-start { height: 386px; }

  .banner-start h3 { font-size: 1.75rem; }

  .banner-start a { width: 50%; }

  .banner__item-red {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner__item-red img {
  height: auto;
  width: 90%;
}

  .banner__item-red h3 {
    top: 8%;
    right: 15%;
  }

  .banner__item-tablet {  display: none; }

  .banner__item--desktop {
    position: relative;
    display: inline-block;
    background-color: rgb(247, 247, 247);
  }

  .banner__item--desktop div {
    position: absolute;
    top: 7%;
    left: 59%;
    text-align: center;
  }

  .banner__item--desktop img {
    height: 100%;
    margin-left: 40px;
  }

  .banner__item--desktop div {
    top: 8%;
    left: 58%;
  }

  .caps__header-desktop { margin-bottom: 5px; }

  .caps__text-desktop { font: italic 1rem 'Times New Roman', serif; }

  /* ARRIVALS */
  .arrivals h2 {
    margin: 10.5% 0 7%;
    font-size: 3.125rem;
  }

  .arrivals_btn { font-size: 1.5rem; }
}

@media (min-width: 1089px) {
  .item:nth-of-type(3) { margin-right: 10px; }
}
